---
layout: page
---

{% include lang.html %}

<!-- 标签详情页同样不列出碎碎念 / 笔记 / 月报 的内容。 -->
{% assign excluded = '碎碎念|笔记|月报' | split: '|' %}

{% assign visible_posts = '' | split: '' %}
{% for post in page.posts %}
  {% assign skip = false %}
  {% for cat in excluded %}
    {% if post.categories contains cat %}
      {% assign skip = true %}
      {% break %}
    {% endif %}
  {% endfor %}
  {% unless skip %}
    {% assign visible_posts = visible_posts | push: post %}
  {% endunless %}
{% endfor %}

<div id="page-tag">
  <h1 class="ps-lg-2">
    <i class="fa fa-tag fa-fw text-muted"></i>
    {{ page.title }}
    <span class="lead text-muted ps-2">{{ visible_posts | size }}</span>
  </h1>
  <ul class="content ps-0">
    {% for post in visible_posts %}
      <li class="d-flex justify-content-between px-md-3">
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
        <span class="dash flex-grow-1"></span>
        {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
      </li>
    {% endfor %}
  </ul>
</div>
